* {


}

body {
    background-color:#1F2937;
    color:#F3F4F6;
    font-family: "Sono",sans-serif;

}
.fact-form {
    background-color: #374151;


}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color:#F3F4F6;
  
}

.fact {
  font-size: 20px;
  text-align: 1, 4;
  
   color:#F3F4F6;
   background-color:#374151;
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Coiny", sans-serif;
    color:#F3F4F6;

}


ul {
  list-style-type: none;
  
}